* {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}
body {
    padding: 40px;
}
::selection{
    background-color: #547eda;
    color: white;
}
button {
    background-color: #547eda;
    outline: 2px solid #547eda;
    border-style: none;
    color: white;
    border-radius: 30px;
    padding: 2.5px 10px;
    box-shadow: 0px 5px 30px #547edaad;
    transition: .3s;
}
button:hover {
    background-color: white;
    color: #547eda;
    box-shadow: none;
}
h1 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #547eda;
    transition: .3s;
}
a:hover {
    color: black;
}
.intro {
    margin-top: 0px;
}